
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

/* This doesn't work in Firefox. Need to investigate: https://stackoverflow.com/questions/2856502/css-font-face-not-working-with-firefox-but-working-with-chrome-and-ie */
@font-face {
    font-family: 'space_ranger_bold_italicBdIt';
    src: url('resource/spacerangerboldital-webfont.woff2') format('woff2'),
         url('resource/spacerangerboldital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.background {
	background-color: #DAE8E8;
}




body {
	padding: 0;
	/* Get rid of the small default margin */
	margin: 0;
}


p {
	color: black;
}

.divheader {
	background-color: #84AAB2;
	width: 768px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 30px;
	padding-top: 70px;
	padding-bottom: 150px;
	position: relative;
}


.linkcontainer {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.linkcontainer a {
	margin-left: 10px;
	margin-right: 10px;
}

.divaboutus h1 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	color: #364B4C
}

.divaboutus p {
    margin-left: auto;
    margin-right: auto;
	color: #364B4C;
	width: 700px;
}
