html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  background: #84AAB2;
}



a:link {

  text-decoration: none;
  color: white;
}

.divheaderbar {
  display: grid;
  background: #364B4C;
  width: 100%;
  padding: 20px 40px;
}

.divgamecontainer {
  height:inherit;
  display: flex;
  width: 768px;
  /* Orders items top-bottom */
  flex-direction: column;
  background: #678787;

  /* Allows the div to size itself according to the children and center itself. */
  margin-left: auto;
  margin-right: auto;
}

.title {
  /* Forces title card to center itself */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 40px;
}

canvas {
  /* Canvas width/height set in code */
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}