@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.background {
  background-color: white;
}

body {
	padding: 0;
	/* Get rid of the small default margin */
	margin: 0;
}


h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  margin: 0;
  height: 300px;
	
}

p{
  color:black;
}

.divheader {
	background-color: #D9DAC6;
}

.divgames {
	height: 500px;
	background-color: #aaaaaa;
	display: flex;
	align-items: center;
	justify-content: center;
}

.linkcontainer {
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-gap: 50px;
}

.gamelink {
	background-color: gray;
	vertical-align: center;
	height: 300px;
	
  display: flex;
  /* vertically centers */
  align-items: center;
  /* horizontally centers */
  justify-content: center;
}

